<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haidev.newsapps">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewsApps">
        <activity
            android:name=".ui.screen.search.SearchNewsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.screen.article.DetailNewsArticleActivity"
            android:exported="true" />
        <activity
            android:name=".ui.screen.article.NewsArticleActivity"
            android:exported="true" />
        <activity
            android:name=".ui.screen.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.screen.sources.NewsSourcesActivity"
            android:exported="true" />
    </application>

</manifest>